
<button disabled="@IsDisabled"
        class="@($"min-w-[{ButtonWidth}] w-[{ButtonWidth}] flex-none px-3 py-1 text-rose-600 bg-rose-50 rounded-lg hover:bg-rose-100 transition-colors active:scale-95")"
        type="@ButtonType"
        @onclick="@HandleClick">
    @Content
</button>

@code {
    [Parameter]
    public string ButtonWidth { get; set; } = "6rem";

    [Parameter]
    public string Content { get; set; } = "Button";

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public string ButtonType { get; set; } = "button"; // Default type is "button"

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        if (!IsDisabled && OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
