<!-- Custom File Upload Button -->
<div class="flex items-center justify-center gap-4">
    <label for="file-upload"
           class="cursor-pointer w-[6rem] px-3 py-1 text-blue-600 bg-blue-50 rounded-lg hover:bg-blue-100
                    transition-colors active:scale-95">
        انتخاب تصویر
    </label>

    <!-- Display Selected File Name -->
    <span class="text-gray-600 text-sm">@SelectedFileName</span>
</div>

<!-- Hidden File Input -->
<InputFile id="file-upload" OnChange="@HandleOnChange" accept="image/*"
           class="hidden" />

@code {
    [Parameter]
    public string SelectedFileName { get; set; } = "هیچ فایلی انتخاب نشده است";

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }

    private async Task HandleOnChange(InputFileChangeEventArgs e)
    {
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync(e);
        }
    }
}
